@charset "utf-8";

.cd {
    position: relative;
    top: 45px;
    right: 237px;

}

#Cadastro {
    width: 100%;
    margin: auto;
    position: relative;
    top: 80px;
    margin-left:200px;



}










label {
    font-size: 1.4rem;
    font-weight:  bold;
}
#cSenha,#cNome,#cEmail,#cTc{
    border-radius: 20px;
    border-color:#7ba468;
    height:20px;
    margin-bottom: 5px;
    outline: none;

}
