*{
	margin: 0;
	padding: 0;
}


#itens{
     display: block;
     position: relative;
     top:78px;
     width: 1000px;
     height: 5px;
     z-index: -1;
}

.tm{
	margin: 50px 6px;

}

.bt_d{
	display: block;
	top: 15px;
	right: 500px;
	
}

